<header class="header">
  <div class="container">
    <img src="assets/images/logo.png" alt="Logo Mentana" class="logo" />
    <nav class="nav-links">
      <a routerLink="/">Inicio</a>
      <a routerLink="/profesionales">Profesionales</a>
      <a href="#funciona">¿Cómo funciona?</a>
      <a href="#testimonios">Testimonio</a>
      <a href="#contacto">Contáctanos</a>
      <a class="btn crear" routerLink="/register">Crear Cuenta</a>
      <a class="btn ingresar" routerLink="/login">Ingresar</a>
    </nav>
  </div>
</header>
